<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Data Display</title>
		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		/>
	</head>

	<body>
		<h1>Data:</h1>
		<input
			type="text"
			class="form-control mb-3"
			id="searchInput"
			placeholder="Search..."
		/>
		<button
			type="button"
			class="btn btn-success mb-3"
			data-toggle="modal"
			data-target="#addApenadoModal"
		>
			Add Apenado
		</button>

		<ul id="apenadosList">
			{% for apenado in apenados %}
			<li>
				<a href="#" data-toggle="modal" data-target="#modal{{ apenado['id'] }}"
					>{{ apenado['nome'] }}</a
				>
				<!-- Modal -->
				<div
					class="modal fade"
					id="modal{{ apenado['id'] }}"
					tabindex="-1"
					role="dialog"
					aria-labelledby="{{ apenado['id'] }}ModalLabel"
					aria-hidden="true"
				>
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="{{ apenado['id'] }}ModalLabel">
									{{ apenado['nome'] }}
								</h5>
								<button
									type="button"
									class="close"
									data-dismiss="modal"
									aria-label="Close"
								>
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div
									class="btn-group"
									role="group"
									aria-label="Actions"
								>
									<button
										type="button"
										class="btn btn-primary editButton"
										data-target="modal{{ apenado['id'] }}"
									>
										Edit
									</button>
									<form
										method="POST"
										action="/delete_apenado"
										class="deleteForm"
									>
										<input
											type="hidden"
											name="id"
											value="{{ apenado['id'] }}"
										/>
										<button
											type="submit"
											class="btn btn-danger"
										>
											Delete
										</button>
									</form>
								</div>
								<div class="apenado">
									<p>
										<h2>{{ apenado['nome'] }}</h2>
									</p>
									<p><strong>CPF:</strong> {{ apenado['cpf'] }}</p>
									<p>
										<strong>Cidade:</strong> {{ apenado['municipio'] }}, {{ apenado['estado'] }}
									</p>
									<p>
										<strong>Endereço:</strong> {{ apenado['rua'] }}, {{ apenado['numero'] }}{% if apenado['complemento'] %}
										 - {{ apenado['complemento'] }}
										{% endif %}
									</p>
									<p>
										<strong>CEP:</strong> {{ apenado['cep'] }}
									</p>
									<p><strong>Nível de Relevância:</strong> {{ apenado['relevancia'] }}</p>
									<h3>Crime</h3>
									<p><strong>Descrição do Crime:</strong> {{ apenado['crime_descricao'] }}</p>
									<p><strong>Data Ocorrido:</strong> {{ apenado['data_ocorrido'] }}</p>
								</div>
								<hr>
								<form
									method="POST"
									action="/update_data"
									class="editForm"
									style="display: none"
								>
                                    <div class="form-group hidden" style="display: none">
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="fullNameInput"
                                            name="id"
                                            value="{{ apenado['id'] }}"
                                            readonly
                                        />
                                    </div>
									<div class="form-group">
										<label for="fullNameInput"
											>Nome:</label
										>
										<input
											type="text"
											class="form-control"
											id="fullNameInput"
											name="nome"
											value="{{ apenado['nome'] }}"
											readonly
										/>
									</div>
									<div class="form-group">
										<label for="cpfInput">CPF:</label>
										<input
											type="text"
											class="form-control"
											id="cpfInput"
											name="cpf"
											value="{{ apenado['cpf'] }}"
                                            readonly
										/>
									</div>
								
									<div class="form-group">
										<label for="ruaInput">Rua:</label>
										<input type="text" class="form-control" id="ruaInput" name="rua" value="{{ apenado['rua'] }}"/>
									</div>
								
									<div class="form-group">
										<label for="numeroInput">Número:</label>
										<input type="number" class="form-control" id="numeroInput" name="numero" value="{{ apenado['numero'] }}"/>
									</div>
								
									<div class="form-group">
										<label for="complementoInput">Complemento:</label>
										<input type="text" class="form-control" id="complementoInput" name="complemento" value="{{ apenado['complemento'] }}" />
									</div>
								
									<div class="form-group">
										<label for="cepInput">CEP:</label>
										<input type="number" class="form-control" id="cepInput" name="cep" value="{{ apenado['cep'] }}" />
									</div>
								
									<div class="form-group">
										<label for="estadoInput">Estado:</label>
										<input type="text" class="form-control" id="estadoInput" name="estado" value="{{ apenado['estado'] }}" />
									</div>
								
									<div class="form-group">
										<label for="municipioInput">Município:</label>
										<input type="text" class="form-control" id="municipioInput" name="municipio" value="{{ apenado['municipio'] }}" />
									</div>
									
									<div class="form-group">
										<label for="relevanciaInput">Relevância:</label>
										<input type="number" class="form-control" id="relevanciaInput" name="relevancia" value="{{ apenado['relevancia'] }}" />
									</div>
								
									<div class="form-group">
										<label for="crimeDescricaoInput">Crime Descrição:</label>
										<input type="text" class="form-control" id="crimeDescricaoInput" name="crime_descricao" value="{{ apenado['crime_descricao'] }}" />
									</div>
									
									<!-- Add more form fields as needed -->
									<button
										type="submit"
										class="btn btn-primary"
									>
										Save Changes
									</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</li>
			{% endfor %}

			<div
				class="modal fade"
				id="addApenadoModal"
				tabindex="-1"
				role="dialog"
				aria-labelledby="addApenadoModalLabel"
				aria-hidden="true"
			>
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="addApenadoModalLabel">
								Add Apenado
							</h5>
							<button
								type="button"
								class="close"
								data-dismiss="modal"
								aria-label="Close"
							>
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<form action="{{ url_for('add_apenado') }}" method="POST">
								<div class="form-group">
									<label for="nomeInput">Nome:</label>
									<input type="text" class="form-control" id="nomeInput" name="nome" required />
								</div>
								
								<div class="form-group">
									<label for="cpfInput">CPF:</label>
									<input type="text" class="form-control" id="cpfInput" name="cpf" required />
								</div>
							
								<div class="form-group">
									<label for="ruaInput">Rua:</label>
									<input type="text" class="form-control" id="ruaInput" name="rua" required />
								</div>
							
								<div class="form-group">
									<label for="numeroInput">Número:</label>
									<input type="number" class="form-control" id="numeroInput" name="numero" required />
								</div>
							
								<div class="form-group">
									<label for="complementoInput">Complemento:</label>
									<input type="text" class="form-control" id="complementoInput" name="complemento" />
								</div>
							
								<div class="form-group">
									<label for="cepInput">CEP:</label>
									<input type="number" class="form-control" id="cepInput" name="cep" required />
								</div>
							
								<div class="form-group">
									<label for="estadoInput">Estado:</label>
									<input type="text" class="form-control" id="estadoInput" name="estado" required />
								</div>
							
								<div class="form-group">
									<label for="municipioInput">Município:</label>
									<input type="text" class="form-control" id="municipioInput" name="municipio" required />
								</div>
								
								<div class="form-group">
									<label for="relevanciaInput">Relevância:</label>
									<input type="number" class="form-control" id="relevanciaInput" name="relevancia" required />
								</div>
							
								<div class="form-group">
									<label for="crimeDescricaoInput">Crime Descrição:</label>
									<input type="text" class="form-control" id="crimeDescricaoInput" name="crime_descricao" required />
								</div>
								
								<div class="form-group">
									<label for="crimeDataInput">Crime Data:</label>
									<input type="date" class="form-control" id="crimeDataInput" name="crime_data" required />
								</div>
								
								<!-- <div class="form-group">
									<label for="artigoPenalIdInput">Artigo Penal ID:</label>
									<input type="number" class="form-control" id="artigoPenalIdInput" name="artigo_penal_id" required />
								</div> -->
							
								<button type="submit" class="btn btn-primary">
									Add Apenado
								</button>
							</form>
						</div>
						<div class="modal-footer">
							<button
								type="button"
								class="btn btn-secondary"
								data-dismiss="modal"
							>
								Close
							</button>
						</div>
					</div>
				</div>
			</div>
		</ul>

		<!-- Bootstrap JS and jQuery -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

		<script>
			document.addEventListener("DOMContentLoaded", function () {
				let editButtons = document.querySelectorAll(".editButton");
				let editForms = document.querySelectorAll(".editForm");

				for (let i = 0; i < editButtons.length; i++) {
					editButtons[i].addEventListener("click", function () {
						editForms[i].style.display = "block";
					});
				}

				document
					.getElementById("searchInput")
					.addEventListener("input", function () {
						let searchText = this.value.trim().toLowerCase();
						let apenadosList =
							document.getElementById("apenadosList");
						let apenadosItems =
							apenadosList.getElementsByTagName("a");
						for (let item of apenadosItems) {
							let itemName = item.textContent
								.trim()
								.toLowerCase();
							let listItem = item.parentNode; // Get the parent list item
							if (itemName.includes(searchText)) {
								listItem.style.display = "block";
							} else {
								listItem.style.display = "none";
							}
						}
					});
			});
		</script>
	</body>
</html>
