<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="post">
        <label for="matricula">Matrícula:</label><br>  <!-- Change 'username' to 'cpf' -->
        <input type="text" id="matricula" name="matricula"><br>  <!-- Change 'username' to 'cpf' -->
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Login">
        <a type="button" href="/register">Registrar</a>
    </form>
</body>
</html>
