<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/register" method="post">
        <label for="matricula">Matrícula:</label><br>
        <input type="text" id="matricula" name="matricula"><br>
        <label for="telefone">Telefone:</label><br>
        <input type="text" id="telefone" name="telefone"><br>
        <label for="cpf">CPF:</label><br>
        <input type="text" id="cpf" name="cpf"><br>
        <label for="nome">Full Name:</label><br>
        <input type="text" id="nome" name="nome"><br><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>
